/* This css file styles the webstore */

/* Import fonts */
@import url('https://fonts.googleapis.com/css2?family=Mouse+Memoirs&family=Open+Sans&display=swap');

/* Styling for body of page */
body {
	font-family: 'Open Sans', sans-serif;
	background-color:  #001F3D; /*#EEEDE7*/
	margin: 0;
	animation: fadeIn 3s;
}

/* Page fade-in effect */
@keyframes fadeIn {
  0% { opacity: 0; }
  100% { opacity: 1; }
}

/* Header that contains the name of the company and navigation links */
#header {
	position: absolute;
	width: 100%;
	height: 75px;
	background-color: #001F3D;
	color: white;
	font-weight: bold;
	overflow: hidden;
	box-shadow: 0px 5px 0px #01488c;
}

/* For styling the 'Bobs Mechanic shop' text */
h1 {
	font-family: 'Mouse Memoirs', sans-serif;
	float: left;
	padding-left: 15px;
	margin-top: 0px;
	font-size: 60px;
}

/* For styling 'submit maintenance request' text */
h2 {
	color: #001F3D;
	text-align:center;
}

/* This class is used for each of the navigation links */
.menu {
	width: 150px;
	height: 100%;
	float: right;
	text-align: center;
    padding: 30px 0;
	padding-left: 10px;
	padding-right: 10px;
}

/* Container that is wrapped around the header and form */
#container {
	margin-top: 50px;
	position: relative;
	height: 800px;
	width: 100%;
	margin: auto;
	box-shadow: 5px grey;
	background-color: #EEEDE7;
	background-image: url('images/bg.jpg');
	background-size: cover;
}

/* Styling for links */
a {
    color: #001F3D;
	background-color: #FAD02C;
	height: 100%;
	text-decoration: none;
	transition: 0.5s ease-out;
}

/* Effect for when the links are hovered over */
a:hover {
	background: #01488c;
	color: white;
}

/* Styling for the web form where customers order their services */
#form {
	position: relative;
	background-color: white;
	border-radius: 15px;
	top: 100px;
	padding: 25px;
	box-shadow: 5px 5px lightgray;
	width: 50%;
	margin: 0 auto;
}

/* For each textbox on the website, i.e. first, last names and phone number */
input[type="text"] {
	border-radius: 10px;
	width: 200px;
	height: 25px;
	border-color: #333652;
	transition: 0.25s;
}

/* Hover effect for textboxes */
input[type="text"]:hover {
	background-color: #ffe991;
}

/* Click effect for textboxes */
input[type="text"]:active {
	background-color: white;
}

/* Checkbox styling */
input[type="checkbox"] {
	appearance: none;
	margin: 0;
    width: 1.15em;
    height: 1.15em;
    border: 0.15em solid #001F3D;
    border-radius: 0.15em;
	background-color: white;
	transition: 0.25s;
	transform: translateY(0.075em);
}

/* Checkbox hover styling */
input[type="checkbox"]:hover {
	background-color: #ffe991;
}

/* Checkbox checked styling */
input[type="checkbox"]:checked {
	box-shadow: inset 1em 1em #90ADC6;
}

/* Styling for checkboxes once the form has been submitted */
input[type="checkbox"][disabled]:hover {
	background-color: lightgray;
}

/* Styling for the textboxes after the form has been submitted */
input[type="text"][disabled]:hover {
	background-color: lightgray;
}

/* Styles the message textarea for the 'contact us' page*/
#message {
	border: 2px solid #333652;
	border-radius: 10px;
	width: 75%;
	min-width: 200px;
	max-width: 500px;
	min-height: 100px;
	max-height: 300px;
	height: 200px;
}

/* Styling for the total that is displayed on the screen after submitting the form */
#total {
	background-color: #ffe991;
	color: #001F3D;
	padding: 10px;
	padding-bottom: 15px;
	border-radius: 15px;
	float: right;
	width: 100px;
	height: 15px;
	text-align: center;
	font-weight: bold;
	border: 2px solid #001F3D;
}

/* Styling for the submit button on the form */
#submit {
	padding: 10px 10px 10px 10px;
	border: none;
	font-weight: bold;
	transition: 0.25s;
}

/* Styling for hovering over the submit button on the form */
#submit:hover {
	background-color: #90ADC6;
}

/* Styling for the submit buttons after the form has been submitted */
#submit[disabled]:hover {
	background-color: lightgray;
}

/* To style line breaks on the page */
hr {
	background-color: #90ADC6;
}

/* Styling for works cited link */
#resources1 {
	position: fixed;
	left: 0px;
	bottom: 0px;
	padding: 10px;
	background-color: #90ADC6;
	color: ;
}

/* Styling for the resouces box at the bottom-left of the screen */ 
#resources {
	position: fixed;
    width: 110px;
    height: 30px;
    padding-top: 15px;
    background-color: #90ADC6;
    color: white;
    font-size: 11px;
    letter-spacing: 0.2em;
    text-align: center;
    text-transform: uppercase;
	left: 10px;
	bottom: 0px;
	transition: 0.5s;
}

/* For when someone hovers over the resources box */
#resources:hover {
	height: 40px;
	font-weight: bold;
}

/*  */
#info {
	padding-left: 20px; 
	padding-top: 10px;
	float: left;
	height: 100%;
}

/* Class for the 'works cited' page's links */
.resource-link {
	text-decoration: none;
	background-color: white;
	color: darkblue;
}

/* Styling for gallery on 'services.html' page */
.cover {
	position: relative;
	top: 100px;
	width: 80%;
	height: 100%;
	margin: auto;
}

/* Classes for each box on the services page */
.photo {
	margin-top: 20px;
	background-color: white;
	width: 49%;
	height: 260px;
	display: inline-block;
	margin: auto;
	text-align: center;
	overflow: hidden;
}

/* Styles the images on the services page */
img {
	width: 400px;
	height: 100%;
	float: left;
}

/* Styles the title on the services page */
#title {
	position: relative;
	top: 90px;
	margin: auto;
	width: 165px;
	height: 75px;
	background-color: white;
	padding: 10px;
	border-radius: 10px;
}